/*=========================================================================================
    File Name: vertical-menu.scss
    Description: A calssic vertical style menu with expand and collops support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
body.vertical-layout.vertical-menu .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
}

@media (min-width: 576px) {
  body.vertical-layout.vertical-menu.menu-flipped .main-menu {
    left: 0;
  }
}

body.vertical-layout.vertical-menu .navbar .navbar-brand {
  white-space: nowrap;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-header {
  float: right;
  width: 260px;
}

body.vertical-layout.vertical-menu.menu-expanded
  .navbar.navbar-brand-center
  .navbar-header {
  float: right;
  width: auto;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
  margin-right: 260px;
}

body.vertical-layout.vertical-menu.menu-expanded
  .navbar
  .navbar-brand
  .brand-text {
  -webkit-animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1
    fadein;
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
  visibility: visible;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu {
  width: 260px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-fixed {
  height: calc(100% - 5rem);
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu.menu-fixed
  .main-menu-content {
  height: calc(100% - 10rem) !important;
  position: relative;
  padding-top: 3px;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  .navigation-header
  span {
  visibility: visible;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  .navigation-header
  .la-ellipsis-h,
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  .navigation-header
  .nav-menu-icon {
  display: none;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  > li
  > a
  > i {
  margin-left: 12px;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  > li
  > a
  > i:before {
  font-size: 1.6rem;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  > li
  > a
  > span {
  visibility: visible;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  > li
  > a
  > span.badge {
  visibility: visible;
  position: absolute;
  left: 20px;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  li.has-sub
  > a:not(.mm-next):after {
  content: "\f112";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 13px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  li.has-sub
  .has-sub
  > a:not(.mm-next):after {
  top: 11px;
}
body.vertical-layout.vertical-menu.menu-expanded
  .main-menu
  .navigation
  li.open
  > a:not(.mm-next):after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

body.vertical-layout.vertical-menu.menu-expanded .content,
body.vertical-layout.vertical-menu.menu-expanded .footer {
  margin-right: 260px;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar-brand-center .content,
body.vertical-layout.vertical-menu.menu-expanded .navbar-brand-center .footer {
  margin-right: 0;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
  float: right;
  width: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed
  .navbar.navbar-brand-center
  .navbar-header {
  float: right;
  width: auto;
}

body.vertical-layout.vertical-menu.menu-collapsed
  .navbar.navbar-brand-center
  .navbar-brand
  .brand-text {
  -webkit-animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1
    fadein;
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
  padding: 18px 0;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
  margin-right: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed
  .navbar
  .navbar-brand
  .brand-text {
  -webkit-animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1
    fadeout;
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
  width: 60px;
  -webkit-transform: translateZ(-160px) translateX(160px);
  transform: translateZ(-160px) translateX(160px);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu.material-menu.menu-fixed
  .main-menu-content {
  height: calc(100% - 8.4rem) !important;
  position: relative;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-header
  .media-body
  .media-heading,
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-header
  .media-body
  .text-muted,
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-header
  .media-right {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-header
  .media-body {
  opacity: 0;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .user-content {
  padding: 20px 10px;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  a.menu-title {
  left: -260px;
  width: 260px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  background-color: #00bcd4;
  border-color: #00bcd4;
  padding: 15px 20px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    > span.menu-title,
  body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    a.menu-title {
    right: 59px !important;
  }
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content {
  right: 60px;
  width: 260px;
  -webkit-transition: visibility 0.25s, opacity 0.25s;
  transition: visibility 0.25s, opacity 0.25s;
  box-shadow: -25px 5px 75px 2px rgba(64, 70, 74, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li {
  white-space: nowrap;
  position: relative;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li
  a {
  display: block;
  padding: 12px 20px 12px 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li.has-sub
  > a:not(.mm-next):after {
  content: "\f112";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 13px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li.has-sub
  .has-sub
  > a:not(.mm-next):after {
  top: 11px;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li.open
  > a:not(.mm-next):after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li:hover
  > a,
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li.hover
  > a {
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li:hover
  > a
  > a,
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .main-menu-content
  > ul.menu-content
  li.hover
  > a
  > a {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation {
  overflow: visible;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li.navigation-header {
  padding: 12px 20px 12px 20px;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li.navigation-header
  .la-ellipsis-h {
  display: block;
  font-size: 1.3rem;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li.navigation-header
  span {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li
  > a {
  padding: 10px 18px 10px 0;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li
  > a
  > span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: -260px;
  width: 260px;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  background-color: #673ab7;
  border-color: #673ab7;
  padding: 14px 20px;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li
  > a
  > i {
  margin-left: 0;
  font-size: 1.6rem;
  line-height: 1;
  visibility: visible;
  opacity: 1;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li
  > ul {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li
  > a
  > span {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li.active
  > a {
  margin: 0;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .mTSWrapper {
  overflow: visible;
}

body.vertical-layout.vertical-menu.menu-collapsed .content,
body.vertical-layout.vertical-menu.menu-collapsed .footer {
  margin-right: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar-brand-center .content,
body.vertical-layout.vertical-menu.menu-collapsed .navbar-brand-center .footer {
  margin-right: 0;
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .content {
  margin: 0;
  margin-left: 60px;
}

@media (min-width: 576px) {
  body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu {
    left: 0;
  }
  body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped
    .main-menu
    span.menu-title {
    left: 60px;
  }
  body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped
    .main-menu
    ul.menu-content {
    left: 60px;
    right: inherit;
  }
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped
  .navbar
  .navbar-header {
  float: left;
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped
  .navbar
  .navbar-container {
  margin: 0;
  margin-left: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .footer {
  margin: 0;
  margin-left: 60px;
}

[data-textdirection="rtl"]
  body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li
  > a {
  padding: 14px 16px !important;
}

[data-textdirection="rtl"]
  body.vertical-layout.vertical-menu.menu-collapsed
  .main-menu
  .navigation
  > li.navigation-header
  .la-ellipsis-h {
  padding: 12px 0;
}

@media (min-width: 992px) {
  body.vertical-layout.vertical-menu .main-menu {
    width: 260px;
  }
  body.vertical-layout.vertical-menu .navbar .navbar-header {
    width: 260px;
  }
  body.vertical-layout.vertical-menu .content,
  body.vertical-layout.vertical-menu .footer {
    margin-right: 260px;
  }
  body.vertical-layout.vertical-menu.menu-flipped .content {
    margin: 0;
    margin-left: 260px;
  }
  body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-header {
    float: left;
  }
  body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-left: 260px;
  }
  body.vertical-layout.vertical-menu.menu-flipped .footer {
    margin: 0;
    margin-left: 260px;
  }
}

@media (max-width: 991.98px) {
  body.vertical-layout.vertical-menu .main-menu {
    width: 60px;
  }
  body.vertical-layout.vertical-menu .main-menu .navigation > li > a > span {
    visibility: hidden;
  }
  body.vertical-layout.vertical-menu .main-menu .navigation > li > a > i {
    font-size: 1.4rem;
  }
  body.vertical-layout.vertical-menu
    .main-menu
    .navigation
    li.navigation-header
    span {
    visibility: hidden;
  }
  body.vertical-layout.vertical-menu .navbar .navbar-header {
    width: 60px;
  }
  body.vertical-layout.vertical-menu .navbar .navbar-header .brand-text {
    visibility: hidden;
  }
  body.vertical-layout.vertical-menu .content,
  body.vertical-layout.vertical-menu .footer {
    margin-right: 60px;
  }
  body.vertical-layout.vertical-overlay-menu[data-menu="vertical-menu"].boxed-layout.menu-open
    .main-menu {
    -webkit-transform: translate3d(-70px, 0, 0);
    transform: translate3d(-70px, 0, 0);
  }
  body.vertical-layout.vertical-overlay-menu[data-menu="vertical-menu"]
    .main-menu.material-menu
    .main-menu-content {
    height: calc(100% - 10rem) !important;
  }
}

@media (max-width: 767.98px) {
  body.vertical-layout.vertical-menu .content,
  body.vertical-layout.vertical-menu .footer {
    margin-right: 0;
  }
  body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-right: 0 !important;
  }
  body.vertical-layout.vertical-menu.menu-expanded .content,
  body.vertical-layout.vertical-menu.menu-expanded .footer {
    margin-right: 0 !important;
  }
  html.loading .main-menu,
  html.loading .vertical-overlay-menu.menu-hide .main-menu,
  .vertical-overlay-menu.menu-hide html.loading .main-menu {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.material-vertical-layout .main-menu .user-profile {
  background-size: cover;
}
.material-vertical-layout .main-menu .user-profile .user-info .user-img {
  border: 3px solid #ffffff;
  width: 60px;
  margin-bottom: 0.5rem;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-toggle:after {
  position: relative;
  top: -1px;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu.arrow {
  margin-top: 0.5rem;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu:before {
  background: transparent;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  .material-icons {
  font-size: 1.2rem;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  span.align-middle {
  font-size: 1rem;
}

.material-vertical-layout
  .main-menu
  .main-menu-content
  .navigation
  li.active
  > a {
  background: #673ab7 !important;
  color: #ffffff;
}

.material-vertical-layout
  .main-menu
  .main-menu-content
  .navigation
  li.active.open
  > a {
  margin-bottom: 0.25rem;
}

.material-vertical-layout .main-menu.menu-light {
  border-left: 0;
}
.material-vertical-layout .main-menu.menu-light .user-profile {
  background: url("../../../../../../app-assets/images/gallery/left-menu-bg.jpg")
    center center no-repeat;
}

.material-vertical-layout .main-menu.menu-dark .user-profile {
  background: url("../../../../../../app-assets/images/gallery/dark-menu.jpg")
    center center no-repeat;
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info {
  background-color: rgba(0, 0, 0, 0.35);
}
.material-vertical-layout
  .main-menu.menu-dark
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  .material-icons,
.material-vertical-layout
  .main-menu.menu-dark
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  span.align-middle {
  color: #6b6f82;
}

.material-vertical-layout.vertical-compact-menu .main-menu.menu-light {
  border-left: 1px solid #e4e7ed;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .material-vertical-layout .form-control,
  .material-horizontal-layout .form-control {
    padding: 0.75rem;
    min-height: 40px;
  }
  .material-vertical-layout .has-icon-left .form-control,
  .material-horizontal-layout .has-icon-left .form-control {
    padding: 0.75rem 2rem;
    min-height: 40px;
  }
}

.material-vertical-layout.menu-collapsed
  .main-menu.menu-light
  .user-profile
  .user-img,
.material-vertical-layout.menu-collapsed
  .main-menu.menu-dark
  .user-profile
  .user-img {
  width: 40px !important;
}

.material-vertical-layout.menu-collapsed
  .main-menu.menu-light
  .user-profile
  .dropdown-toggle,
.material-vertical-layout.menu-collapsed
  .main-menu.menu-dark
  .user-profile
  .dropdown-toggle {
  margin-right: 0 !important;
}

.material-vertical-layout.menu-collapsed
  .main-menu.menu-light
  .user-profile
  div.text-light,
.material-vertical-layout.menu-collapsed
  .main-menu.menu-dark
  .user-profile
  div.text-light {
  display: none;
  white-space: nowrap;
}

.material-vertical-layout.menu-collapsed
  .main-menu.menu-light
  .user-profile
  .user-name,
.material-vertical-layout.menu-collapsed
  .main-menu.menu-dark
  .user-profile
  .user-name {
  display: none;
  white-space: nowrap;
}

.material-vertical-layout.menu-expanded div.text-light {
  white-space: nowrap;
}

.material-vertical-layout.menu-expanded .user-name {
  white-space: nowrap;
}

.material-vertical-layout .main-menu .navigation > li > a i {
  position: relative;
  top: -2px;
}
.material-vertical-layout .main-menu .navigation > li > a i.material-icons {
  font-size: 1.5rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    /* .main-menu-content{
                  > ul.menu-content{
                     left: $menu-collapsed-width;
                     padding-left: 2.2rem;
                  }
               } */
  }
  body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    > span.menu-title,
  body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    a.menu-title {
    left: auto;
    right: 60px;
  }
}

/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-right: 0;
}

.vertical-overlay-menu .navbar .navbar-header {
  float: right;
  width: 280px;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-right: auto;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  float: right;
  width: auto;
}

.vertical-overlay-menu .main-menu,
.vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s,
    -webkit-transform 0.25s;
  width: 280px;
  right: -280px;
}
.vertical-overlay-menu .main-menu.menu-fixed {
  height: calc(100% - 5rem);
}
.vertical-overlay-menu .main-menu.menu-fixed .main-menu-content {
  height: calc(100% - 12rem) !important;
  position: relative;
  padding-top: 3px;
}
.vertical-overlay-menu
  .main-menu.material-menu
  .main-menu-content
  .navigation
  li.active
  > a {
  border: none;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header {
  padding-right: 34px;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header .ft-minus,
.vertical-overlay-menu
  .main-menu
  .navigation
  .navigation-header
  .nav-menu-icon {
  display: none;
}
.vertical-overlay-menu .main-menu .navigation > li > a {
  padding-right: 32px;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
  margin-left: 12px;
  float: right;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i:before {
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}
.vertical-overlay-menu .main-menu .navigation > li > a span.badge {
  left: 26px !important;
}
.vertical-overlay-menu .main-menu .navigation > li.hover > a {
  padding-right: 28px;
}
.vertical-overlay-menu .main-menu .navigation > li ul li > a {
  padding-right: 68px;
}
.vertical-overlay-menu .main-menu .navigation > li .active > a {
  padding-right: 54px;
}
.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li > a {
  padding-right: 74px;
}
.vertical-overlay-menu
  .main-menu
  .navigation
  > li
  ul
  .open
  > ul
  li:not(.active):hover
  > a {
  padding-right: 78px;
}
.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover > a {
  padding-right: 72px;
}
.vertical-overlay-menu
  .main-menu
  .navigation
  > li.open
  > ul
  > li:hover.active
  > a {
  padding-right: 54px;
}
.vertical-overlay-menu
  .main-menu
  .navigation
  li.has-sub
  > a:not(.mm-next):after {
  content: "\f112";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 13px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
.vertical-overlay-menu
  .main-menu
  .navigation
  li.has-sub
  .has-sub
  > a:not(.mm-next):after {
  top: 11px;
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.vertical-overlay-menu
  .main-menu
  .navigation
  li.has-sub
  > a:not(.mm-next):after {
  left: 28px;
  top: 13px;
}

.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  -webkit-transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s,
    -webkit-transform 0.25s;
}

.vertical-overlay-menu.menu-flipped .main-menu {
  left: -280px;
  right: inherit;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-left: 280px;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: left;
}

.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.vertical-overlay-menu footer.footer.fixed-bottom {
  z-index: 999;
}

.vertical-overlay-menu.boxed-layout.menu-open .main-menu {
  -webkit-transform: translate3d(-280px, 0, 0) !important;
  transform: translate3d(-280px, 0, 0) !important;
}

.vertical-overlay-menu.boxed-layout {
  position: relative;
}
.vertical-overlay-menu.boxed-layout .main-menu.menu-fixed {
  position: absolute;
}

@media screen and (max-width: 575px) {
  .vertical-overlay-menu.boxed-layout.menu-open .main-menu {
    -webkit-transform: translate3d(-280px, 0, 0) !important;
    transform: translate3d(-280px, 0, 0) !important;
  }
}

.material-vertical-layout .main-menu .user-profile {
  background-size: cover;
}
.material-vertical-layout .main-menu .user-profile .user-info .user-img {
  border: 3px solid #ffffff;
  width: 60px;
  margin-bottom: 0.5rem;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-toggle:after {
  position: relative;
  top: -1px;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu.arrow {
  margin-top: 0.5rem;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu:before {
  background: transparent;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  .material-icons {
  font-size: 1.2rem;
}
.material-vertical-layout
  .main-menu
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  span.align-middle {
  font-size: 1rem;
}

.material-vertical-layout
  .main-menu
  .main-menu-content
  .navigation
  li.active
  > a {
  background: #673ab7 !important;
  color: #ffffff;
}

.material-vertical-layout
  .main-menu
  .main-menu-content
  .navigation
  li.active.open
  > a {
  margin-bottom: 0.25rem;
}

.material-vertical-layout .main-menu.menu-light {
  border-left: 0;
}
.material-vertical-layout .main-menu.menu-light .user-profile {
  background: url("../../../../../../app-assets/images/gallery/left-menu-bg.jpg")
    center center no-repeat;
}

.material-vertical-layout .main-menu.menu-dark .user-profile {
  background: url("../../../../../../app-assets/images/gallery/dark-menu.jpg")
    center center no-repeat;
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info {
  background-color: rgba(0, 0, 0, 0.35);
}
.material-vertical-layout
  .main-menu.menu-dark
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  .material-icons,
.material-vertical-layout
  .main-menu.menu-dark
  .user-profile
  .user-info
  .dropdown-menu
  .dropdown-item
  span.align-middle {
  color: #6b6f82;
}

.material-vertical-layout.vertical-compact-menu .main-menu.menu-light {
  border-left: 1px solid #e4e7ed;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .material-vertical-layout .form-control,
  .material-horizontal-layout .form-control {
    padding: 0.75rem;
    min-height: 40px;
  }
  .material-vertical-layout .has-icon-left .form-control,
  .material-horizontal-layout .has-icon-left .form-control {
    padding: 0.75rem 2rem;
    min-height: 40px;
  }
}

.material-vertical-layout.vertical-overlay-menu
  .main-menu
  .navigation
  > li
  > a
  i {
  position: relative;
  top: 0.7rem;
}
.material-vertical-layout.vertical-overlay-menu
  .main-menu
  .navigation
  > li
  > a
  i.material-icons {
  font-size: 1.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
