:root {
    --black: rgba(0, 0, 0, 1);
    --deep-sapphire: rgba(0, 30, 108, 1);
    --tuatara: rgba(52, 52, 52, 1);
    --dove-gray: rgba(109, 109, 109, 1);
    --gunsmoke: rgba(134, 134, 134, 1);
    --yellow-orange: rgba(255, 170, 76, 1);
    --white: rgba(255, 255, 255, 1);
    --font-size-xxs: 14px;
    --font-size-xs: 16px;
    --font-size-s: 17px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
  }
  
  @font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/quicksand/Quicksand_Book.otf") format("opentype");
  }

  body {
    font-family: 'Quicksand';
  }

/* navbar css */
    .bg-custom {
        background-color: #F76E11;
        height: 48px;
    }

    .bg-ku {
      background-color: #FFBC80;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 20px 10px;
        color: #1a357b;
        outline: none;
    }

    .search {
        border-radius: 10px 0 0 10px;
    }

    .search-icon {    
        border-radius: 0 10px 10px 0;
    }

    .navbar-dark .navbar-nav .nav-link {
      font-size: 17px;
    }

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
      color: #F76E11 !important;
    }
/* end navbar css */

/* best seller  */
.text-truncate {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-img img {
    height: 251px;
}

.product-img .height0 {
    height: 100%;
}

.product-item .d-flex p {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
    height: 36px;
}

.product-action i {
    font-size: 11px;
}

.product-action a.btn {
    position: relative;
    margin: 0 7px;
    margin-top: 100px;
    opacity: 0;
    height: 25px;
}

.section-title span {
    color: #001e6c;
    font-weight: bold;
    background-color: #fff;
}

.price p {
    color: #F76E11;
    font-weight: bold;
}

.product-offer .offer-text {
    background: transparent;
}

.product-offer.offer .offer-text img {
    position: unset;
    width: 100%;
    height: 55%;
    object-fit: contain;
    transition: .5s;
}

.product-offer .offer-text p {
    font-weight: bold;
    font-size: 23px;
}
/* end best seller  */

/*** Testimonial ***/
.testimonial-carousel .testimonial-item {
    padding: 0 30px 30px 30px;
  }
  
  .testimonial-carousel .owl-nav {
    display: flex;
    justify-content: center;
  }
  
  .testimonial-carousel .owl-nav .owl-prev,
  .testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffd333;
    background: #f9f3ee;
    border-radius: 60px;
    font-size: 11px;
    transition: 0.5s;
  }
  
  .testimonial-carousel .owl-nav .owl-prev:hover,
  .testimonial-carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #ffd333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .testimonial-carousel .testimonial-item {
    background-color: #f9f3ee;
  }

/* new arrivals  */
.new-arrivals-booku .section-title {
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
    transform-origin: center;
    text-align-last: center;
    padding: 40px;
}

.new-arrivals-booku .product-item:hover {
    box-shadow: none;
}

.new-arrivals-booku .text-truncate {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #fff;
}

/* end new arrivals */

/*******************************/
/**** ANIMASI SLIDE-IN CSS ****/
/*******************************/
.fadeInLeft.come-in {
    opacity: 1;
    transform: translateY(-70px);
    animation: come-in 1s ease forwards;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.fadeInLeft.come-in:nth-child(2) {
	transition-delay: .2s;
  animation-delay: .2s;
}

.fadeInLeft.come-in:nth-child(3) {
	transition-delay: .4s;
  animation-delay: .4s;
}

.animated-up,
.animated-down {
	opacity: 0;
}

.animated-down.come-in {
  opacity: 1;
  transform: translateY(-70px);
  animation: come-in 1s ease forwards;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.animated-up.come-in {
  opacity: 1;
  transform: translateY(70px);
  animation: come-in 1s ease forwards;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.animated-up.come-in:nth-child(2) {
	transition-delay: .2s;
  animation-delay: .2s;
}

.animated-up.come-in:nth-child(3) {
	transition-delay: .4s;
  animation-delay: .4s;
}

.animated-up.come-in:nth-child(4) {
	transition-delay: .6s;
  animation-delay: .6s;
}

.animated-up.come-in:nth-child(5) {
	transition-delay: .8s;
  animation-delay: .8s;
}

.animated-up.come-in:nth-child(6) {
	transition-delay: 1s;
  animation-delay: 1s;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.animated-up.come-in:nth-child(7) {
    transition-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-up.come-in:nth-child(8) {
    transition-delay: 1.4s;
  animation-delay: 1.4s;
}

.animated-up.come-in:nth-child(9) {
    transition-delay: 1.6s;
  animation-delay: 1.6s;
}

.animated-up.come-in:nth-child(10) {
    transition-delay: 1.8s;
  animation-delay: 1.8s;
}

.detail-buku span {
  font-weight: 700;
  font-size: 14px;
}

.detail-buku p {
  font-weight: 400;
  font-size: 14px;
  color: #151515;
}

.footer p {
  font-size: 19px;
  font-weight: 800;
}

.btn-footer .btn {
  background: #F76E11;
  border-radius: 9px;
  color: #fff;
}

.blog-booku p, a {
  font-size: 12px;
}

.blog-booku h1 {
  font-size: 17px;
}


.blog-booku h5 {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.blog-booku .img-fluid {
  background-size: contain;
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.blog-booku .img-one {
  background-size: contain;
  height: 165px;
  object-fit: cover;
}

.stock-input .btn-add {
  background-color: #f76e11;
  border-color: #f76e11;
  color: #fff;
  font-size: 13px;
  white-space: nowrap;
  width: 100%;
}

.stock-input-left .fa {
  font-size: 10px;
}

.stock-section .wrap-quantity .stock-input {
  display: flex;
}

.btn-quantity {
  width: 23px;
  height: 23px;
  background-color: #f76e11;
  color: #fff;
  border: 0;
  border-radius: 50%;
  margin: 2px 5px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #f76e11;
}

.subtotal .text-sub {
  color: #6d6d6d;
}

.btn .badge {
  position: relative;
  top: -1px;
  font-size: 13px;
  color: white;
  border: 1px solid red;
  background-color: red;
}

.total-items {
  width: 100%;
  padding: 15px 30px;
  background-color: #ff9f4575;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #f76e11;
}

.subtotal-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 800;
}

.price-delete {  
  text-align: end;
}

.rincian-belanja p {
  font-size: 12px;
  color: red;
}