.profile-card-with-stats .btn-float {
  padding: 8px 14px 4px 14px;
}

.profile-card-image-cover-1 {
  background: url("../../../../app-assets/images/backgrounds/fb.jpg") 0 30%;
}

.profile-card-image-cover-2 {
  background: url("../../../../app-assets/images/backgrounds/in.jpg") 0 40%;
}

.profile-card-image-cover-3 {
  background: url("../../../../app-assets/images/backgrounds/tw.jpg") 0 30%;
}

.user-profile-cover-image {
  background: url("../../../../app-assets/images/carousel/22.jpg") 50%;
}

.profile-card-with-cover .card-profile-image {
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center;
}
.profile-card-with-cover .card-profile-image img.img-border {
  border: 5px solid #fff;
}

.profile-card-with-cover .profile-card-with-cover-content {
  padding-top: 4rem;
}

#user-profile .profile-with-cover .profil-cover-details {
  position: absolute;
  margin-top: 210px;
}
#user-profile
  .profile-with-cover
  .profil-cover-details
  .profile-image
  img.img-border {
  border: 5px solid #fff;
}
#user-profile .profile-with-cover .profil-cover-details .card-title {
  color: #fff;
  text-shadow: 1px 1px 4px #464855;
}

#user-profile .navbar-profile {
  margin-left: 130px;
}
