#news-feed .news-feed-btn {
  padding: 2px;
}

#news-feed .news-feed-badge-nature {
  top: 5px;
}

#news-feed .news-feed-badge-real-estate {
  top: 5px;
  right: 5px;
}

#news-feed .news-feed-badge-radio {
  top: 5px;
}

#news-feed .news-feed-badge-trip {
  top: 5px;
  right: 5px;
}

#news-feed .news-feed-badge-travel {
  top: 5px;
  right: 5px;
}

#news-feed .list-group .news-feed-item-text-time {
  padding: 0.2rem !important;
}

#news-feed .list-group .news-feed-item-1:hover {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/36.png") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/36.png") center center no-repeat;
  background-size: cover;
}
#news-feed .list-group .news-feed-item-1:hover .news-feed-item-text {
  color: white !important;
}
#news-feed .list-group .news-feed-item-1:hover .news-feed-item-text-time {
  color: white !important;
  padding: 0.2rem !important;
}

#news-feed .list-group .news-feed-item-2:hover {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/18.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/18.jpg") center center no-repeat;
  background-size: cover;
}
#news-feed .list-group .news-feed-item-2:hover .news-feed-item-text {
  color: white !important;
}
#news-feed .list-group .news-feed-item-2:hover .news-feed-item-text-time {
  color: white !important;
  padding: 0.2rem !important;
}

#news-feed .list-group .news-feed-item-3:hover {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/18.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/18.jpg") center center no-repeat;
  background-size: cover;
}
#news-feed .list-group .news-feed-item-3:hover .news-feed-item-text {
  color: white !important;
}
#news-feed .list-group .news-feed-item-3:hover .news-feed-item-text-time {
  color: white !important;
  padding: 0.2rem !important;
}

#news-feed .list-group .news-feed-item-4:hover {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/20.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/20.jpg") center center no-repeat;
  background-size: cover;
}
#news-feed .list-group .news-feed-item-4:hover .news-feed-item-text {
  color: white !important;
}
#news-feed .list-group .news-feed-item-4:hover .news-feed-item-text-time {
  color: white !important;
  padding: 0.2rem !important;
}

#news-feed .list-group .news-feed-item-5:hover {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/20.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/20.jpg") center center no-repeat;
  background-size: cover;
}
#news-feed .list-group .news-feed-item-5:hover .news-feed-item-text {
  color: white !important;
}
#news-feed .list-group .news-feed-item-5:hover .news-feed-item-text-time {
  color: white !important;
  padding: 0.2rem !important;
}

#news-feed .news-feed-food-card-bg {
  background: url("../../../../app-assets/images/gallery/6.jpg") center center
    no-repeat;
  background-size: cover;
  border-radius: 0.3rem;
}

#news-feed .news-feed-food-card2-bg {
  background: url("../../../../app-assets/images/gallery/3.jpg") center center
    no-repeat;
  background-size: cover;
  border-radius: 0.3rem;
}

#news-feed .news-feed-food-card3-bg {
  background: url("../../../../app-assets/images/gallery/6.jpg") center center
    no-repeat;
  background-size: cover;
  border-radius: 0.3rem;
}

#news-feed .tech-card-bg:hover {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/34.png") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../app-assets/images/gallery/34.png") center center no-repeat;
  background-size: cover;
}
#news-feed .tech-card-bg:hover .tech-card-text {
  color: white !important;
}
